body{
    background-color: #B0E0E6;
}
.comment{
    font-size: 12px;
    color: dimgray;
}
.conteiner{
    width: 1000px;
    height: auto;
    margin-left: 450px;
    background-color: whitesmoke;
    padding: 15px;
}
.header{
    background-image: url("img/PANORAMA.jpg");
    background-position-y: -25px;
    height: 200px;
}
.header h1{
    text-align: center;
    color: whitesmoke;
    margin-right: 700px;
    padding-top: 45px;
}

.home a{
    text-decoration: none;
    float: right;
}
.pamyatnik{
    width: 440px;
}
.photo1{
    width: 745px;
}
.gravyura{
    float: left;
    padding-right: 10px;
    margin: 0px;
}
.gravyura_ph{
    width: 250px;
}
.gravyura2{
    float: right;
    padding-left: 10px;
}
.gravyura_ph2{
    width: 250px;
}
.photos img{
    width: 370px;
    height: 300px;
}
.sidebar{
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #C0C0C0;
    width: 200px;
    height: 1120px;
    float: left;
    margin-right: 15px;
}
.sidebar ul{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.sidebar li a{
    text-decoration: none;
    color: maroon;
}
.sidebar li a:hover {
    color: indigo;
}

.main{
    padding: 15px;
    text-align: justify;
    width: 745px;
    float: left;
    background-color: whitesmoke;

}
.main h1{
    text-align: center;
}
.user{
    float: left;
}

.about{
    margin-left: 10px;
    text-align: center;
    width: 40px;
    padding: 10px;
    border-color: #333333;
    border: 2px;
    background-color: #f6f6f6;

}
.reserve{
    margin-right: 13px;
    margin-top: -52px;
    float: right;
    text-align: center;
    width: 85px;
    padding: 7px;
    border-color: #333333;
    border: 2px;
    background-color: #f6f6f6;

}
.header a{
    text-decoration: none;
}
#mymap{
    width: auto;
    margin: 7px;
}
.footer{
    border-top: solid;
    border-color: black;
    padding: 7px;
    clear: both;
    width: 1000px;
}



.sidebarForm {
    background: #f6f6f6;
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    width: 420px;
}

#cor5 {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.sidebarForm h4 {
    font: 14px Verdana;
    color: #333333;
    text-align: left;
    padding: 10px 10px 0 10px;
}

.sidebarForm label {
    font: 12px Verdana;
    color: #333;
    padding: 10px;
}

.sidebarForm .input {
    width: 170px;
    height: 20px;
    overflow: hidden;
    background: white;
    border: solid 1px #DFE2E5;
    margin: 5px 0 10px 10px;
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}

.sidebarForm .input input {
    width: 165px;
    height: 26px;
    background: white;
    margin: -3px 0 0 -5px;
    padding: 0px 8px;
    border: none;
    background: transparent;
}

.sidebarForm .textarea {
    height: 70px;
    width: 320px;
    overflow: hidden;
    background: white;
    border: solid 1px #DFE2E5;
    margin: 5px 0 10px 10px;
    box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}

.sidebarForm .textarea textarea {
    width: 316px;
    height: 66px;
    background: white;
    border: none;
    resize:none;
}

.sidebarForm button {
    border: 2px #ccc solid;
    width: 150px;
    height: 25px;
    font: 12px Verdana;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #cc0000;
    padding-bottom: 2px;
    margin: 5px 0 15px 135px;
}