body{
    background-color: #B0E0E6;
}
.comment{
    font-size: 12px;
    color: dimgray;
}
.conteiner{
    width: 1000px;
    height: auto;
    margin-left: 450px;
    background-color: whitesmoke;
    padding: 15px;
}
.header{
    background-image: url("img/PANORAMA.jpg");
    background-position-y: -25px;
    height: 200px;
}
.header h1{
    text-align: center;
    color: whitesmoke;
    margin-right: 700px;
    padding-top: 45px;
}

.home a{
    text-decoration: none;
    float: right;
}
.pamyatnik{
    width: 440px;
}
.photo1{
    width: 745px;
}
.gravyura{
    float: left;
    padding-right: 10px;
    margin: 0px;
}
.gravyura_ph{
    width: 250px;
}
.gravyura2{
    float: right;
    padding-left: 10px;
}
.gravyura_ph2{
    width: 250px;
}
.photos img{
    width: 370px;
    height: 300px;
}
.sidebar{
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #C0C0C0;
    width: 200px;
    height: 1120px;
    float: left;
    margin-right: 15px;
}
.sidebar ul{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.sidebar li a{
    text-decoration: none;
    color: maroon;
}
.sidebar li a:hover {
    color: indigo;
}

.main{
    padding: 15px;
    text-align: justify;
    width: 745px;
    float: left;
    background-color: whitesmoke;

}
.main h1{
    text-align: center;
}

#mymap{
    width: auto;
    margin: 7px;
}
.footer{
    border-top: solid;
    border-color: black;
    padding: 7px;
    clear: both;
    width: 1000px;
}



.form-wrap {
    margin-left: 90px;
    width: 550px;
    background-color: cadetblue;
    border-radius: 20px;
}
.form-wrap *{transition: .1s linear}
.profile {
    width: 240px;
    float: left;
    text-align: center;
    padding: 70px;
}
form {
    margin-top: -65px;
    margin-bottom: 30px;
    margin-left: 85px;
    background: white;
    float: left;
    width: calc(100% - 240px);
    padding: 30px;
    border-radius: 20px 20px 20px 20px;
    color: #7b7b7b;
}
.form-wrap:after, form div:after {
    content: "";
    display: table;
    clear: both;
}
form div {
    margin-bottom: 15px;
    position: relative;
}
h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-left: 145px;
}
h1:after {
    font-size: 40px;
    /*position: absolute;*/
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
label, span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
input[type="text"], input[type="email"] {
    width: 90%;
    padding: 10px 15px;
    border-width: 0;
    background: #e6e6e6;
    outline: none;
    margin: 0;
}
input[type="text"]:focus, input[type="email"]:focus {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.radio label {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    width: 50%;
    float: left;
    line-height: 40px;
}
.radio input {
    position: absolute;
    opacity: 0;
}
.radio-control {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: #e6e6e6;
    border-radius: 50%;
    text-align: center;
}
.male:before {
    content: "\f222";
    font-weight: bold;
}
.female:before {
    content: "\f221";
    font-weight: bold;
}
.radio label:hover input ~ .radio-control,
.radiol input:focus ~ .radio-control {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.radio input:checked ~ .radio-control {
    color: red;
}
select {
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
.select-arrow {
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}
button {
    padding: 10px 0;
    border-width: 0;
    display: block;
    width: 120px;
    margin: 25px auto 0;
    background: #60e6c5;
    color: white;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
}