body{
    background-color: #B0E0E6;
}
.comment{
    font-size: 12px;
    color: dimgray;
}
.conteiner{
    width: 1000px;
    height: auto;
    margin-left: 450px;
    background-color: whitesmoke;
    padding: 15px;
}
.header{
    background-image: url("img/PANORAMA.jpg");
    background-position-y: -25px;
    height: 200px;
}
.header h1{
    text-align: center;
    color: whitesmoke;
    margin-right: 700px;
    padding-top: 45px;
}

.home a{
    text-decoration: none;
    float: right;
}
.pamyatnik{
    width: 440px;
}
.photo1{
    width: 745px;
}
.gravyura{
    float: left;
    padding-right: 10px;
    margin: 0px;
}
.gravyura_ph{
    width: 250px;
}
.gravyura2{
    float: right;
    padding-left: 10px;
}
.gravyura_ph2{
    width: 250px;
}
.photos img{
    width: 370px;
    height: 300px;
}
.sidebar{
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #C0C0C0;
    width: 200px;
    height: 1120px;
    float: left;
    margin-right: 15px;
}
.sidebar ul{
    text-decoration: none;
    list-style: none;
    padding: 5px;
}
.sidebar li a{
    text-decoration: none;
    color: maroon;
}
.sidebar li a:hover {
    color: indigo;
}

.main{
    padding: 15px;
    text-align: justify;
    width: 745px;
    float: left;
    background-color: whitesmoke;

}
.main h1{
    text-align: center;
}

#mymap{
    width: auto;
    margin: 7px;
}
.footer{
    border-top: solid;
    border-color: black;
    padding: 7px;
    clear: both;
    width: 1000px;
}



#feedback-form{
    background-color: #ececec;
    margin: 50px auto 0;
    text-align: center;
    width: 430px;
    padding: 15px;
}
#feedback-form h2{
    margin-bottom: 25px;
}
#feedback-form input[type=text],
#feedback-form textarea{
    background-color: #fff;
    border: 1px solid #A9A9A9;
    padding: 1px 5px;
    width: 90%;
}
#feedback-form input[type=text]{
    height: 26px;
}
#feedback-form textarea{
    height: 75px;
    padding-top: 5px;
}
#feedback-form input[type=submit]{
    margin-top: 15px;
    background-color: #0B7BB5;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    width: 225px;
    cursor: pointer;
}